<div class="d-flex align-items-center" style="min-height: 80vh;">
    <div class="container home-container">
        <div class="row my-5 mx-2" style="position: relative;">
            <div class="col-md-12">
                <div class="container border rounded p-2 px-4" style="background-color: #fdfdfd; max-width: 430px;">
                    <div class="p-0 my-5">
                        <div class="my-4 mb-5 text-center">
                            <img class="border-bottom pb-4" src="/images/logo.svg" alt="" height="180px" width="180px">
                        </div>

                        <form class="" action="" method="POST">
                            <!-- What 'bout CSRF? -->
                            
                            <div class="text-light">
                                <div class="my-3">
                                    <a href="/auth/google" class="btn btn-danger google-bg btn-block py-2">
                                        &nbsp;<i class="fab fa-google" aria-hidden="true"></i>
                                        <span>&nbsp;Continue with Google&nbsp;&nbsp;</span>
                                    </a>
                                </div>
                                <div class="my-3">
                                    <a href="/auth/github" class="btn github-bg btn-dark btn-block py-2">
                                        <i class="fab fa-github" aria-hidden="true"></i>
                                        <span>&nbsp;Continue with Github &nbsp;</span>
                                    </a>
                                </div>
                                <div class="my-3">
                                    <a href="/auth/linkedin" class="btn linkedin-bg btn-primary btn-block py-2">
                                        &nbsp;<i class="fab fa-linkedin" aria-hidden="true"></i>
                                        <span>&nbsp;Continue with LinkedIn</span>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>