<div class="border-bottom pb-3 mb-2">
    <div class="pb-3 pt-2 mb-4">
        <div class="float-left">
            <h2 class="">Messages</h2>
        </div>
        <div class="float-right">
            <button class="btn btn-custom-dark px-3" data-mdb-toggle="modal" data-mdb-target="#projectFormModal">
                <i class="fa fa-plus pr-1"></i>
                New
            </button>
        </div>
    </div>
</div>

<div class="text-center my-4 mt-5">
    <p class="text-secondary">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex natus quidem laborum quod, tempora at, sunt iure illum libero atque vel nulla officia accusantium numquam beatae, perferendis corrupti magnam in! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex natus quidem laborum quod, tempora at, sunt iure illum libero atque vel nulla officia accusantium numquam beatae, perferendis corrupti magnam in!
    </p>
</div>