<div class="py-3" style="font-size: 1.75em;">
    <% for (link of links) { %>
        <a href="<%= link.url %>" target="_blank" class="mx-2"><i class="text-dark <%= link.icon %> "></i></a>
    <% } %>
</div>