<footer class="border-top text-center fixed-bottom" style="background-color: #f4f4f4;">
    <div class="container home-container" style="font-size: 0.9rem;">
        <div class="row">
            <div class="col text-left p-3">
                <nav>
                    <ul class="footer-list">
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact us</a></li>
                        <!-- <li><a href="/terms">Terms</a></li>
                        <li><a href="/privacy">Privacy Policy</a></li> -->
                    </ul>
                </nav>
            </div>
            <div class="col-auto text-right">
                <div class="p-3">
                    Copyright © 2021 Team Finder
                </div>
            </div>
        </div>
    </div>
</footer>