<nav class="navbar navbar-expand-lg navbar-dark bg-dar px-0 py-1 border-dark border-bottom" style="background-color: #262626;">
    <div class="container home-container">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.svg" alt="" height="45px">
            Team Finder
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
                <!-- <a class="nav-item nav-link" href="/">Dashboard</a>
                <a class="nav-item nav-link" href="/stories">About us</a> -->
            </div>

            <!-- Navbar Right Side -->
            <% if (req.isAuthenticated()) { %>
                <div class="navbar-nav">
                    <a class="nav-item text-light nav-link" href="/auth/logout">Sign out</a>
                </div>
            <% } else { %>
                <div class="navbar-nav">
                    <!-- <a href="/auth/login" class="btn btn px-4 btn-primary">
                        Login
                    </a> -->
                    <!-- <a class="nav-item nav-link" href="/auth/login">Register</a> -->
                </div>
            <% } %>
        </div>
    </div>
</nav>