<div class="container home-container py-4 px-4">
    <h2>About us</h2>
    <hr>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, modi ea, quos recusandae veritatis at voluptates laboriosam, amet pariatur tempora harum. Obcaecati quas placeat eligendi quos consectetur qui quasi praesentium.</p>
</div>