<div class="d-flex align-items-center" style="min-height: 80vh;">
    <div class="container home-container p-0">
        <div class="row my-5 mx-2" style="position: relative;">
            <div class="col-md-6 text-left my-5">
                <h1 class="my-3">Welcome to Team Finder</h1>
                
                <p class="my-4">
                    Get in touch with awesome developers just by one click.
                    <br>
                    Work on innovative ideas, collabarate and meet new developers
                    across the globe.
                </p>

                <div class="my-4">
                    <a class="btn a-btn btn-custom-dark py-2 px-3" href="/auth/login">
                        Sign In <i class="pl-2 fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6 my-5">
                <img class="landing-img" src="/images/work.svg" alt="">
            </div>
        </div>
    </div>
</div>